@font-face {
  font-family: "TT-Lakes--regular";
  src: url("public/fonts/TTLakesCompressed-Regular.eot");
  src: local("TT Lakes Compressed Regular"), local("TTLakesCompressed-Regular"),
    url("public/fonts/TTLakesCompressed-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("public/fonts/TTLakesCompressed-Regular.woff") format("woff"),
    url("public/fonts/TTLakesCompressed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.aside {
  width: 320px;
  /* height: 100vh; */
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  border: 2px solid #b8ffec;
}
.aside__header {
  padding: 16px;
}

.aside__header--left-part {
  display: flex;
  align-items: center;
}

.service__item {
}

.close {
}
.block__logo {
  /* повтор*/
  padding: 8px;
  display: inline-block;
}
.aside__search {
}
.aside__nav {
  padding: 24px 0;
  flex-grow: 1;
}

.aside__list {
  display: flex;
  list-style: none;
}

.aside__list--vertical {
  flex-direction: column;
}

.aside__item {
  /* padding: 8px; */
}

.link {
  /* повтор*/
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.aside__link {
  flex-grow: 1;
  padding: 16px 24px;
  position: relative;
}

/* .aside__link::after {
  content: "";
  position: absolute;
  left: 16px;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #41f6d7;
}

@keyframes lineRun {
  to {
    width: 50%;
  }
}

.aside__link:hover::after{
  animation-name: lineRun;
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
} */

.active--font {
  color: #7e7e82;
}

.aside__footer {
}
.aside__contacts {
  margin: 16px;
  margin-top: 0px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.list__contact {
  padding: 8px;
}

.aside__link--font {
  color: #1b1c21;
  font-family: "TT Lakes Compressed", sans-serif;
  font-size: 16px;
}
.aside__mail {
  padding: 8px;
  user-select: text;
}
.aside__tel {
  padding: 8px;
  font-weight: 600;
  font-size: 24px;
}
.aside__tel span {
  margin-right: 5px;
}

.lang-pannel {
  margin: 0 24px 32px 24px;
}

.lang-pannel__input {
}

.lang-pannel__input:checked + .lang-pannel__label{
  color: #7e7e82;
}

.lang-pannel__label {
  cursor: pointer;
  margin-right: 5px;
}

.btn {
  transition: opacity, filter .25s;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  opacity: 0.8;
 
}

.btn:active {
  -webkit-filter: brightness(0.5);
  -moz-filter: brightness(0.5);
  -ms-filter: brightness(0.5);
  -o-filter: brightness(0.5);
  filter: brightness(0.5);
}

/* .lang-pannel__input:checked ~ .lang-pannel .lang-pannel__label{
  font-size: 30px;
  width: 20px;
  background-color: aqua;
} */