// $fontRegular: 'TT Lakes--regular', sans-serif;
// $fontMedium: 'TT Lakes--w500', sans-serif;
// $fontBold: 'TT Lakes--bold', sans-serif;
// $screen-vsm: 320px;
// $screen-sm: 360px;
// $screen-md: 500px;
// $screen-lg: 768px;
// $screen-xl: 1140px;
// $screen-xxl: 1440px;


.about {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $screen-md) {
      flex-direction: row;
  }

  .visibility-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }

  &__inner {
    padding: 16px;
    @media screen and (min-width: $screen-md) {
        padding: 16px;
        margin-left: 8px;
        flex-grow: 1;
        max-width: 50vw;
    }
  }

  &__read:checked + &__content {
    height: auto;
    overflow: visible;
  }

  &__content {
    height: 90px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 16px;
    @media screen and (min-width: $screen-xl) {
        //1024px
          height: 9rem;
      }
    @media screen and (min-width: $screen-md) {
        height: 90px;
        height: 10vw;
    }

  }

  &__text {
    margin-bottom: 18px;
  }

  &__show-pannel {
    margin-bottom: 16px;
    position: relative;
  }

  &__check-box {
    position: absolute;
    top: -4px;
    left: 0;
    width: 1.5em;
    height: 1.5em;
    background-image: url('../img/icons/expand.svg');
    border: 0;
    background-color: inherit;
  }

  &__label {
    position: relative;
    padding-left: 1.7em;
    cursor: pointer;
    user-select: none;
    font-family: $fontMedium;

    &__label:hover,
    &__label:focus {
      transform: scale(1.1);
    }
  }

  &__img {
    background-image: url('../img/imgContent/_MG_3223.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-color: lightgray;
    margin: auto;
    max-width: 100%;
    width: 320px;
    height: 208px;
    flex-grow: 1;

    @media screen and (min-width: 760px) {
      //$screen-lg
        min-height: 307px;
        background-size: cover;
        margin: 0 24px;
    }

    @media screen and (min-width: 500px) {
      //$screen-md
        margin: 0 24px;
    }
  }
    &--margin {
    margin-bottom: 32px;
  }
}




// .about {
//     display: flex;
//     flex-direction: column;
  
//     @media screen and (min-width: 500px) {
//       & {
//         flex-direction: row;
//       }
//     }
  
//     .visibility-hidden {
//       position: absolute;
//       width: 1px;
//       height: 1px;
//       margin: -1px;
//       padding: 0;
//       clip: rect(0, 0, 0, 0);
//       overflow: hidden;
//     }
  
//     &__inner {
//       padding: 16px;
//       @media screen and (min-width: 500px) {
//         &__inner {
//           padding: 16px;
//           margin-left: 8px;
//           flex-grow: 1;
//           max-width: 50vw;
//         }
//       }
//     }
  
//     &__read:checked + &__content {
//       height: auto;
//       overflow: visible;
//     }
  
//     &__content {
//       height: 90px;
//       width: 100%;
//       overflow: hidden;
//       margin-bottom: 16px;
//       @media screen and (min-width: 500px) {
//         &__content {
//           height: 90px;
//           height: 10vw;
//         }
//       }
  
//       @media screen and (min-width: 1024px) {
//         &__content {
//           height: 9rem;
//         }
//       }
//     }
  
//     &__text {
//       margin-bottom: 18px;
//     }
  
//     &__show-pannel {
//       margin-bottom: 16px;
//       position: relative;
//     }
  
//     &__check-box {
//       position: absolute;
//       top: -4px;
//       left: 0;
//       width: 1.5em;
//       height: 1.5em;
//       background-image: url('../img/icons/expand.svg');
//       border: 0;
//       background-color: inherit;
//     }
  
//     &__label {
//       position: relative;
//       padding-left: 1.7em;
//       cursor: pointer;
//       user-select: none;
//       font-family: 'TT Lakes--bold', sans-serif;
//       &__label:hover,
//       &__label:focus {
//         transform: scale(1.1);
//       }
//     }
  
//     &__img {
//       background-image: url('../img/imgContent/_MG_3223.png');
//       background-position: center center;
//       background-repeat: no-repeat;
//       background-color: lightgray;
//       margin: auto;
//       max-width: 100%;
//       width: 320px;
//       height: 208px;
//       flex-grow: 1;
  
//       @media screen and (min-width: 500px) {
//         &__img {
//           margin: 0 24px;
//         }
//       }
//       @media screen and (min-width: 760px) {
//         &__img {
//           height: 307px;
//           background-size: cover;
//           margin: 0 24px;
//         }
//       }
//     }
  
//     &--margin {
//       margin-bottom: 32px;
//     }
//   }