.btn {
  transition: opacity, filter 0.25s;
  cursor: pointer;
  &:hover,
  &:focus {
    opacity: 0.8;
  }
  &:active {
    -webkit-filter: brightness(0.5);
    -moz-filter: brightness(0.5);
    -ms-filter: brightness(0.5);
    -o-filter: brightness(0.5);
    filter: brightness(0.5);
  }
}
