$screen-lg: 768px;
.footer {
  text-align: center;

  @media screen and (min-width: $screen-lg) {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    color: #7e7e82;
    margin-bottom: 16px;

    @media screen and (min-width: $screen-lg) {
      width: clamp(300px, 100%, 330px);
      margin-bottom: 0;
      &:first-child {
        text-align: left;
      }
    }
  }
  &__item:last-child {
    margin-bottom: 0;
    @media screen and (min-width: $screen-lg) {
      text-align: right;
    }
  }
}
