.table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  text-align: left;
  letter-spacing: 0.5px;
  text-wrap: nowrap;
  font-size: 14px;

  th {
    &:nth-child(1) {
      width: 56%;
    }

    &:nth-child(2) {
      width: 12%;
    }

    &:nth-child(3) {
      width: 12%;
    }

    &:nth-child(4) {
      width: 20%;
    }
  }

  &__link {
    display: inline;
    padding: 9px 21px;
    background-color: #ff3e79;
    border-radius: 16px 16px;
    color: #ffffff;
    font-size: 12px;
    font-family: $fontBold;
    text-transform: uppercase;
    text-wrap: nowrap;
    letter-spacing: normal;
  }
  .link-arrow {
    display: inline-block;
    content: '';
    width: 10px;
    height: 10px;
    margin: auto;
    transform: rotate(-45deg);
    
    &--color-btn {
      border-right: 3px solid #ffffff;
      border-bottom: 3px solid #ffffff;
    }
  }

  &__thead {
    font-family: $fontMedium;
  }
  &__tbody {
    background-color: #ffffff;
    border-radius: 10px 10px;
  }
  &__row-head {
    height: 65px;
    vertical-align: middle;
  }
  &__row-body {
    height: 65px;
    vertical-align: middle;
    border-bottom: 1px solid #eaeaea;
    &__row-body:last-child {
      border-bottom: none;
    }
  }

  &__th:first-child {
    padding-left: 16px;
  }

  &__td:last-child {
    text-align: right;
    padding-right: 16px;
  }
  &__td:first-child {
    padding-left: 16px;
  }
}
