@font-face {
  font-family: "TT-Lakes--regular";
  src: url("../fonts/TTLakesCompressed-Regular.eot");
  src: local("TT Lakes Compressed Regular"), local("TTLakesCompressed-Regular"),
    url("../fonts/TTLakesCompressed-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/TTLakesCompressed-Regular.woff") format("woff"),
    url("../fonts/TTLakesCompressed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}